.bg-nav-perso, .nav {
    background-color: rgb(21, 28, 72) !important;
    
}

.nav-link {
    color: rgb(222, 205, 198) !important;
}

#msgPass {
    color:red;
    font-size: 12px;
}

.aligner-centre-titre {
    text-align: center;
    color:rgb(21, 28, 72);
    font-size: 30px;
}

#pourMsg {
    color:red;
    font-size:18px;
    font-weight: bold;
}

.image-border {
    border-radius: 50%;
}

.droite {
    margin-right: 0;
}

#logo_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(222, 205, 198);
    padding-left: 10px;
    padding-right: 10px;
}

.bg-perso {
    background-color: rgb(21, 28, 72);
}

.dropdown {
    float: right !important;
    padding-right: 20px;
}

.msgFormEnreg {
    color: red !important;
    font-size: 11px !important;
}

.panierPlus {
    float: right;
    font-size: 24px !important;
    margin-right: -8px;
}

#bdc {
    margin-right: 30px;
}

#nbart {
    margin-left: -8px;
}

.deconnexion {
    float: right;
    color: grey;
    font-size: 30px !important;
    cursor: pointer;
}

.closeBtn {
    color: red;
    cursor: pointer;
}

.bgcolorFacture {
    background-color: #bbabab !important;
}

#payer {
    margin-left: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}


ul {
    list-style-type: none;
}

.liadmin{
    color:white;
}
.liadmin:hover {
    color: rgb(0, 162, 255);
}

.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}

.card{
    top: 25px;
    margin-top: 25px;
    border: black;
    color: rgb(222, 205, 198);
    background: rgb(21, 28, 72);
    margin: auto;
    max-width: 1048px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

.card-j{
    top: 25px;
    margin-top: 25px;
    color: rgb(222, 205, 198);
    background-color: black;
    border: black;
    background: #696D8A;
    margin: auto;
    max-width: 1048px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

.card-a{
    top: 25px;
    color: rgb(222, 205, 198);
    margin-top: 25px;
    background-color: black;
    border: black;
    background: #878AA1;
    margin: auto;
    max-width: 1048px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}


.card-e{
    top: 25px;
    color: rgb(222, 205, 198);
    margin-top: 25px;
    background-color: black;
    border: black;
    background: #44496D;
    margin: auto;
    max-width: 1048px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}
.column {
    color: rgb(222, 205, 198);
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
#page{
    background-color: rgb(222, 205, 198);
}
