.bg-nav-perso, .nav {
    background-color: rgb(21, 28, 72) !important;
    
}

.nav-link {
    color: rgb(222, 205, 198) !important;
}

#msgPass {
    color:red;
    font-size: 12px;
}

.aligner-centre-titre {
    text-align: center;
    color:blueviolet;
    font-size: 30px;
}

#pourMsg {
    color:red;
    font-size:18px;
    font-weight: bold;
}

.image-border {
    border-radius: 50%;
}

.droite {
    margin-right: 0;
}

#logo_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(222, 205, 198);
    padding-left: 10px;
    padding-right: 10px;
}

.bg-perso {
    background-color: #7f07ff;
}

.dropdown {
    float: right !important;
    padding-right: 20px;
}

.msgFormEnreg {
    color: red !important;
    font-size: 11px !important;
}

.panierPlus {
    float: right;
    font-size: 24px !important;
    margin-right: -8px;
}

#bdc {
    margin-right: 30px;
}

#nbart {
    margin-left: -8px;
}

.deconnexion {
    float: right;
    color: grey;
    font-size: 30px !important;
    cursor: pointer;
}

.closeBtn {
    color: red;
    cursor: pointer;
}

.bgcolorFacture {
    background-color: #bbabab !important;
}

#payer {
    margin-left: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.maCard {
    margin-top: 25px;
}

ul {
    list-style-type: none;
}

.liadmin{
    color:white;
}
.liadmin:hover {
    color: rgb(0, 162, 255);
}

.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}


